venv/
__pycache__/
.denv/
.env
*.pyc
*.pyo
*.pyd
build/
dist/
.eggs/
*.egg-info/
.vscode/
.venv/
*.log
logs/
instance/
*.db
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
.DS_Store
Thumbs.db

